@model GameZone.ViewModels.GameVM.GameViewModel
@{
    ViewData["Title"] = "Home Page";
}
@section Styles {
    <style>
        .csrollImages {
            max-width: 80%;
            width: fit-content;
        }
    </style>
}

    <div class="container">
        <form asp-controller="Game" asp-action="CreateGame" method="post" enctype="multipart/form-data">
            <div class="row mx-auto mt-5">
                <div class="col-md-5">
                    <div class="form-group mb-2">
                        <label asp-for="@Model.Name"></label>
                        <input class="form-control" asp-for="@Model.Name" />

                        <span class="text-danger" asp-validation-for="@Model.Name"></span>
                    </div>

                    <div class="form-group  mb-2">
                        <label asp-for="@Model.Price"></label>
                        <input class="form-control" asp-for="@Model.Price" step="0.01" type="number" />

                        <span class="text-danger" asp-validation-for="@Model.Price"></span>
                    </div>
                    <div class="form-group  mb-2">
                        <label asp-for="@Model.ReleaseDate"></label>
                        <input class="form-control" asp-for="@Model.ReleaseDate" min="1980-01-01" max="@DateTime.Now.ToString("yyyy-MM-dd")" type="date"/>

                        <span class="text-danger" asp-validation-for="@Model.ReleaseDate"></span>
                    </div>

                    <div class="form-group mb-2">
                        <input id="DeveloperId" class="form-control" asp-for="@Model.DeveloperId" type="hidden" />
                        <label for="DeveloperName">Developer:</label>
                        <div class="row g-0">
                            <div class="d-flex col-7">
                                <img id="DeveloperLogo" alt="Logo" width="40px" class="rounded" />
                                <input id="DeveloperName" class="form-control" value="Game Developer" disabled readonly>
                            </div>
                            <button type="button" class="btn-sm btn-primary col-5" data-bs-toggle="modal" data-bs-target="#listOfDevelopers">
                                Choose a developer
                            </button>
                        </div>

                        <span class="text-danger" asp-validation-for="@Model.DeveloperId"></span>
                    </div>


                    <div class="form-group mb-2">
                        <label for="imgInp">Game Photos:</label>
                        <input OnChange="addPreviewImages()" class="form-control" type="file" name="photos" id="imgInp" accept="image/*" multiple>
                    </div>
                </div>

                <div class="col-md-7">
                    <div class="form-group mb-2">
                        <label asp-for="@Model.Description"></label>
                        <textarea class="form-control" asp-for="@Model.Description" type="text" rows="10"></textarea>

                        <span class="text-danger" asp-validation-for="@Model.Description"></span>
                    </div>
                </div>
            </div>

            <div class="mx-auto csrollImages">
                <h2>Selected images:</h2>
                <div id="previewScroll" class="shadow">
                    <div id="previewImages">
                        Images not selected
                    </div>
                </div>
            </div>

            @*	<div class="progress">
        <div class="progress-bar" role="progressbar"
        style="width: @ViewBag.progressPercent%" area-valuenow="@ViewBag.progressPercent"
        area-valuemin="0" area-valuemax="100">
        </div>
        </div>*@

            <div class="row justify-content-center mt-3">
                <button class="btn btn-success col-2 col-xl-1" onclick="submit">Save</button>
            </div>
        </form>

        <div class="modal fade" id="listOfDevelopers" tabindex="-1" aria-labelledby="listOfDevelopers" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable  ">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Developers</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="popUpsList">

                        @await Component.InvokeAsync("ListOfDevelopers")

                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-primary" href="@Url.Action("CreateCompany", "Company")" target="_blank">Add new developer</a>
                        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

@section scripts
    {
    <script src="~/js/SearchInList.js"></script>
    <script>
        function addPreviewImages() {
            var selectedFile = $('#imgInp').get(0).files;
            var imagesHtml = "";
            for (var i = 0; i < selectedFile.length; i++)
                imagesHtml += "<img class='mx-1' width='300' src='" + URL.createObjectURL(selectedFile[i]) + "'>";


            $("#previewImages").html(imagesHtml);
            if (selectedFile.length > 3)
                $("#previewScroll").css({
                    'overflow-size': 'scroll',
                    'overflow-y': 'hidden'
                });

            $("#previewImages").css("width", selectedFile.length * 300 + selectedFile.length * 9)
        }

       
        $(".developerItem").click(function clickItem() {
                $("#DeveloperName").val($(this).children("span").text());
                $("#DeveloperId").val($(this).children("p").text());
                $("#DeveloperLogo").attr("src", $(this).children("img").attr('src'));
            }
        );
    </script>
}