@model GameZone.ViewModels.GetGamesViewModel
@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <link rel="stylesheet" href="~/css/index.css" type="text/css" />
}

<div id="main_carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators" id="mainCarouselIndicators">
        @for(int i = 0; i < @Model.GamesForCarousel.Count(); i++)
        {
            var classes = "";
            var aria_current = "";
            if (i == 0) // Make first button active in carousel
            {
                classes += "active";
                aria_current = "true";
            }
            <button type="button" data-bs-target="#main_carousel" 
                data-bs-slide-to="@i" aria-label="Slide @i" class="@classes" aria-current="@aria_current">
            </button>
        }
    </div>

    <div class="carousel-inner" id="mainCarouselSlides">
        @{var index = 0;}
        @foreach (var game in @Model.GamesForCarousel)
        {
            var classes = "carousel-item";
            if(index == 0)
                classes += " active";

            <div class="@classes">

                <div class="slide_img d-block w-100" style="background-image: url(@Url.Content("~/images/Media/Games/" + @game.Images.FirstOrDefault().Url))"></div>
                <div class="carousel-caption">
                    <p class="fs-1">@game.Name</p>
                    <p class="fs-5 d-none d-lg-block">@game.Description</p>
                    <div class="d-grid col-sm-5 mx-auto">
                        <button type="button" class="btn btn-primary btn-lg rounded-pill" onclick="">Buy now</button> @{ /* TODO : Make hendler for OnClick */}
                    </div>
                </div>
            </div>
            index++;
        }
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#main_carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#main_carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


<div class="container mt-5">
    <div class="gameCardHeader d-flex justify-content-between">
        <p class="fs-3">SPECIAL OFFERS</p>
        @{
            /*TODO: Add searching by name*/
        }
        <form class="searchForm d-flex" onsubmit="">
            <input id="search-name" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>

    
    <div class="row gx-4 gx-lg-4" id="game_cards">
    @foreach (var game in @Model.GamesWithSmallPictures) // TODO : Add if null model
    {
    var GameCarouselName = "GameN" + game.Id;
    var countOfPhotosInSlider = game.Images.Count < 9 ? game.Images.Count : 9;

        <div class="col-lg-4 col-md-6 col-sm-6 mb-5">
            <div class="card h-100">
                <div class="adminActionsGame text-center">
                    <a href="#"><i class="bi bi-pencil adminActionBtn"></i></a>
                    <a asp-controller="Game" asp-action="Delete" asp-route-id="@game.Id" class="deleteBtn adminActionBtn"><i class="bi bi-trash3"></i></a>    
                </div>
                <div id="@GameCarouselName" class="carousel game_card_carousel slide carousel-fade" data-bs-touch="false" data-bs-interval="false">
                    <div class="carousel-indicators">
                        @for (int i = 0; i < countOfPhotosInSlider; i++)
                        {
                            var classes = "";
                            var aria_current = "";
                            if (i == 0) // Make first button active in carousel
                            {
                                classes += "active";
                                aria_current = "true";
                            }

                            <button type="button" data-bs-target="#@GameCarouselName" 
                                    data-bs-slide-to="@i" aria-label="Slide @i" class="@classes" aria-current="@aria_current">
                            </button>
                        }
                    </div>

                    <div class="carousel-inner">
                        @{index = 0;}
                        @foreach (var image in game.Images)
                        {
                            var classes = "carousel-item";
                            if(index == 0)
                                classes += " active";

                            <div class="@classes"><img src="~/images/Media/Games/@image.Url" class="d-block w-100" alt="@image.Title"></div>
                            index++;
                            if (index > 8)
                                break;
                        }
                    </div>

                    <button class="carousel-control-prev carousel-control" type="button" data-bs-target="#@GameCarouselName" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next carousel-control" type="button" data-bs-target="#@GameCarouselName" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

                <div class="card-body">
                    <h3 class="card-title">@game.Name</h3>
                    <h6 class="card-subtitle mb-2 text-muted">@game.Developer.Name (@game.ReleaseDate.ToString("dd.MM.yyyy"))</h6>
                    
                        @if(game.Categories != null)
                        {
                            <section class="splide" role="group" aria-label="Game categories">
                                <div class="splide__track">
                                    <ul class="splide__list">
                                        @foreach(var category in game.Categories){  
                                            <li class="splide__slide">#@category.Name</li>
                                        }
                                    </ul>
                                </div>
                            </section>
                        }
                        
                </div>
                <div class="card-footer">
                    @{ /*TODO: Add BUY button handler */ }
                    <button type="button" class="btn btn-outline-dark">Buy now</button>
                         
                    @{ /*TODO: Add Favourity */ }
                    <span class="material-icons favorite" onclick="addToFavorite('Dying Light')">favorite_border</span>
                    <p class="float-end fs-5">@game.Price.ToString("N")$</p>
                </div>
            </div>

           
        </div>
    }
    </div>
</div>

@section scripts
{
    <script>
        var elms = document.getElementsByClassName( 'splide' );

        for (var i = 0; i < elms.length; i++) {
            new Splide(elms[i], {
                perPage: 3,
                perMove: 1,
                autoWidth: true,
                pagination: false,
                padding: 10,
            }).mount();
        }
    </script>
}